:root{
	--couleur-principale: #d8d8f8;
	--couleur-vert-1: #d8f0b0;
	--couleur-rouge-1: #f0c8b0;
	--couleur-gris-1: #f8f8f8;
	--couleur-gris-2: #efefef;
	--couleur-gris-3: #404040;
	--couleur-gris-4: #242450;
}

*{
	color: var(--couleur-gris-4);
	transition: all 1s;
	z-index: 0;
}

h1{
	font-size: 300%;
}
h2{
	font-size: 200%;
}
h3{
	font-size: 150%;
}

body{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

#principale{
	width: 62.5%;
	background-color: var(--couleur-gris-2);
	padding: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (width <= 65em) {
	#principale{
		width: 95%;
	}
}

#principale>div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

#principale :is(h1, h2, h3){
	text-align: center;
	width: 95%;
}

:is(.para){
	width: 40%;
	padding: 1%;
	margin: 1%;
	border: 0.125em solid;
	border-radius: 1.5em;

	text-align: justify;
	font-size: 0.9em;

	position: relative;
}

.large{
	width: 90%;
}

@media (width <= 60em) {
	:is(.text, .pict, .note, .large){
		width: 90%;
		padding: 0.5em;
	}

}

.text{
	border-color: var(--couleur-principale);
}
.note{
	border-color: var(--couleur-vert-1);
}
.pict{
	border-color: var(--couleur-rouge-1);
}
.large{
	border-color: var(--couleur-principale);
}
:is(.text, .pict, .note, .large):hover{
	border-radius: 0em;
	border-color: var(--couleur-gris-1);
}

span.foreign-language{
	font-style: italic;
}

a[href*="wikipedia.org"], a[href*="wikimedia.org"]{
	display: inline-flex;
	flex-direction: row;
}

:is(a[href*="wikipedia.org"], a[href*="wikimedia.org"])::after {
	content: "";
	background-repeat: no-repeat;
	background-position: right;
	background-size: 90%;
	width: 1em;
}

a[href*="wikimedia.org"]::after {
	background-image: url(pictures/wikimedia-logo.svg);
}
a[href*="wikipedia.org"]::after {
	background-image: url(pictures/wikipedia-logo.svg);
}


span.hoverable:hover::before {
	opacity: 1;
	background-color: var(--couleur-gris-4);
	color: var(--couleur-gris-1);
	text-align: justify;
}
span.hoverable::before {
	content: attr(data-secret);
	position: absolute;
	left: 0em;
	right: 0em;
	margin: auto;
	bottom: 100%;
	width: 50%;

	padding: 0.5em;
	border-radius: 1em;
	opacity: 0;
	transition: all 1s;

	pointer-events: none;
}

span.hoverable::after {
	content: "\2728";
}
span.hoverable:hover {
	background-color: var(--couleur-gris-1);
}

span.statement {
	background-color: var(--couleur-gris-1);
}
span.statement:hover {
	background-color: var(--couleur-principale);
}
span.statement::before {
	content: "\275d\a0";
}
span.statement::after {
	content: "\a0\275e"
}
