:root{
	--couleur-principale: #d8d8f8;
	--couleur-vert-1: #d8f0b0;
	--couleur-rouge-1: #f0c8b0;
	--couleur-gris-1: #f8f8f8;
	--couleur-gris-2: #efefef;
	--couleur-gris-3: #404040;
	--couleur-gris-4: #242450;
}

*{
	color: var(--couleur-gris-4);
	font-size: 1em;
}

h1{
	font-size: 300%;
}
h2{
	font-size: 200%;
}
h3{
	font-size: 150%;
}


body{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#principale{
	width: 62.5%;
	background-color: var(--couleur-gris-2);
	padding: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (width <= 65em) {
	#principale{
		width: 95%;
	}
}

#principale>div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

#principale :is(h1, h2, h3){
	text-align: center;
	width: 95%;
}

:is(.text, .pict, .note, .large){
	width: 40%;
	padding: 1%;
	margin: 1%;
	border: 0.125em solid;
	border-radius: 1.5em;

	text-align: justify;
	font-size: 0.9em;

	transition: all 1s;
}

.large{
	width: 90%;
}

@media (width <= 60em) {
	:is(.text, .pict, .note, .large){
		width: 90%;
		padding: 0.5em;
	}

}

.text{
	border-color: var(--couleur-principale);
}
.note{
	border-color: var(--couleur-vert-1);
}
.pict{
	border-color: var(--couleur-rouge-1);
}
.large{
	border-color: var(--couleur-principale);
}
:is(.text, .pict, .note, .large):hover{
	border-radius: 0em;
	border-color: var(--couleur-gris-1);
}


span.foreign-language{
	font-style: italic;
}
